@charset "UTF-8";
@import "../../../common/style/common";

.#{$prefix}-table-pagination {
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .#{$prefix}-table-control-refresh {
    margin-left: 10px;
    cursor: pointer;
    color: #999;
  }
}
